<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BwiTrainingEntities" connectionString="metadata=res://*/DbModel.DataModel.csdl|res://*/DbModel.DataModel.ssdl|res://*/DbModel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wi3.technikum-wien.at;initial catalog=BwiTraining;persist security info=True;user id=bwiTestUser;password=Train2PassSyco;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="CrewServiceDefinition.WcfServiceDefinition">
                <endpoint address="" binding="basicHttpBinding" contract="CrewServiceDefinition.IWcfServiceDefinition">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/WcfServiceDefinition/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
